
.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tasks li:hover {
  background: #51c5de;
}

.tasks li .edit{
  margin-right: 15px;
  color: #51c5de;
}
.tasks li .delete{
  margin-right: 15px;
color: #f04c64;
}

.tasks li:hover .edit, .tasks li:hover .delete{
  color: #000;
}
.tasks li .edit, .tasks li .delete{
  cursor: pointer;
  transition: all 600ms;
}

.tasks li  span{
  display: flex;
  align-items: center;
}
.tasks li .task-text {
  flex: 1; /* ocupa espaço da esquerda */
  margin-right: 10px;
}

.tasks li .date {
  margin-right: 8px; /* novo */
  font-size: 0.85rem;
  color: #777;
}

.tasks li .alarm {
  margin-right: 8px;
  font-size: 0.85rem;
  color: #777;
}
